<% provide(:title, "About") %>

<div class="col-md-8">
  <h1 id="about-title">About CrowdSource</h1>
  <h3 id="about-text">There exists two largely disjoint groups on college campuses today.
  There are young entrepreneurs; individuals with ideas for new products and services.
  There are budding software developers and engineers eager to develop their
  technical skills and get first-hand experience on projects. CrowdSource aims to bring
  these two groups together.</h3>
</div>




