<% provide(:title, "Home") %>
<div class="center">
    <h1 id="big-name">CrowdSource</h1>
    <h3 id="home-blurb">Connecting entrepreneurs, engineers and designers across college campuses nationwide.</h3>
</div>