<% provide(:title, "Home") %>
<div class="center">
    <p id="home-intro">Welcome to</p>
    <h1 id="big-name">CrowdSource</h1>
    <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary my-personal-button" %>
</div>