<% provide(:title, @user.name) %>

<div class="container-fluid" id="side-profile">
  <div class="row">
    <div class="col-lg-3 col-md-3">
      <div class="panel panel-default">
        <div class="media">
          <div id="profile-pic">
            <%= get_avatar_for(@user) %>
          </div>
          <div class="media-body">
          <h3 class="profile-info"><strong><%= @user.name %></strong></h3>
          <hr>
          <h5 class="profile-info"><i class="fa fa-id-card-o" aria-hidden="true"></i><strong> ABOUT</strong></h5>
          <hr>
          <p class="profile-info profile-about-info"><i class="fa fa-user" aria-hidden="true"></i> <%= @user.classification %></p>
          <p class="profile-info profile-about-info"><i class="fa fa-university" aria-hidden="true"></i> UNIVERSITY OF MARYLAND</p>
          <p class="profile-info profile-about-info"><i class="fa fa-graduation-cap" aria-hidden="true"></i> JUNIOR</p>
          <hr>
          <h5 class="profile-info"><i class="fa fa-code" aria-hidden="true"></i><strong> PROFESSIONAL SKILLS</strong></h5>
          <hr>
          <p class="profile-info profile-skills-info">java</p>
          <p class="profile-info profile-skills-info">web development</p>
          <p class="profile-info profile-skills-info">python</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-9">
      <div class="panel panel-default">
        <div class="media">
          <h1 id="posting-title">Create a Project Posting</h1>
          <hr>
          <div id="left-column">
            <div class="form-group">
		  				<label for="title">Project Title</label>
				    	<input type="text" class="form-control" id="exampleInputTitle" placeholder="Enter Project Title">
			  		</div>
			  		<div class="form-group">
				    	<label for="skills">Description of Skills Needed</label>
				    	<textarea class="form-control" id="skills-description" placeholder="Describe the Skills Required" style="height: 84px;"></textarea>
				  	</div>
          </div>
          <div id="right-column">
            <div class="form-group" id="right-col-content">
		  				<label for ="description">Project Description</label>
		  			 	<textarea  class="form-control" id="project-description" placeholder="Briefly Describe the Project" style="width: 350px; height: 150px;"></textarea>
		  			</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>