@import "bootstrap-sprockets";
@import "bootstrap";

/* Miscellaneous */

$gray-medium-light: #eaeaea;

html {
    position: relative;
    min-height: 100%;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

#edit-title {
  text-align: center;
}

/* General */

body {
  padding-top: 60px;
  background-color: white;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* Home page */

#big-name {
  display: inline;
	position: relative;
	font: 150px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5);
	top: 115px;
	text-shadow:-10px -5px 0 rgba(225, 0, 0, 0.5);
}
#home-blurb {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 3.0em;
  margin-top: 145px;
  text-align: center;
  letter-spacing: 2.5px;
  margin-left: 80px;
  margin-right: 80px;
}

/* About page */

.left {
  text-align: left;
}

#about-title {
  display: inline;
	position: relative;
	font: 60px Helvetica, Sans-Serif;
	letter-spacing: -2px;
	color: rgba(0,0,255,0.5);
	top: 100px;
	text-shadow:-4px -2px 0 rgba(225, 0, 0, 0.5);
}

#about-text {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 2.0em;
  margin-top: 110px;
  letter-spacing: 2.0px;
}

/* Login page */

#log-in-title {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 2.5em;
  margin-top: 25px;
}

.login-form {
  font-family: 'Roboto', sans-serif;
  margin-top: 25px;
}

#new-user-q {
  font-size: 1.0em;
  padding-top: 5px;
}

/* Signup page */

#signup-title {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 2.5em;
  margin-top: 25px;
}

.signup-form {
  font-family: 'Roboto', sans-serif;
  margin-top: 25px;
}

/* header */

.navbar-nav {
  width: 100%;
  text-align: center;
  > li {
    float: none;
    display: inline-block;
  }
}

.navbar {
  background-color: blue;
  box-shadow: none;
  border: transparent;
}

#logo {
  color: white;
  font-size: 1.4em;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  &:hover {
    background-color: transparent;
  }
}

#navbar-account {
  color: white;
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  &:hover {
    background-color: transparent;
    text-decoration: underline;
  }
  &:active {
    background-color: transparent;
    text-decoration: underline;
  }
  &:focus {
    background-color: transparent;
    text-decoration: underline;
  }
}

#navbar-about {
  color: white;
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  &:hover {
    background-color: transparent;
    text-decoration: underline;
  }
}

#navbar-news {
  color: white;
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  &:hover {
    background-color: transparent;
    text-decoration: underline;
  }
}

#navbar-contact {
  color: white;
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  &:hover {
    background-color: transparent;
    text-decoration: underline;
  }
}

#navbar-login {
  color: white;
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  &:hover {
    background-color: transparent;
    text-decoration: underline;
  }
}

/* Homepage button */

.my-personal-button { 
  color: white; 
  background-color: blue; 
  border-color: transparent; 
} 
 
.my-personal-button:hover, 
.my-personal-button:focus {
  color: white;
  background-color: rgba(0,0,255,0.75);
  border-color: transparent;
}

.my-personal-button:active, 
.my-personal-button.active, 
.open .dropdown-toggle.my-personal-button { 
  color: white; 
  background-color: blue; 
  border-color: transparent; 
} 
 
.my-personal-button:active, 
.my-personal-button.active, 
.open .dropdown-toggle.my-personal-button { 
  background-image: none; 
} 
 
.my-personal-button.disabled, 
.my-personal-button[disabled], 
fieldset[disabled] .my-personal-button, 
.my-personal-button.disabled:hover, 
.my-personal-button[disabled]:hover, 
fieldset[disabled] .my-personal-button:hover, 
.my-personal-button.disabled:focus, 
.my-personal-button[disabled]:focus, 
fieldset[disabled] .my-personal-button:focus, 
.my-personal-button.disabled:active, 
.my-personal-button[disabled]:active, 
fieldset[disabled] .my-personal-button:active, 
.my-personal-button.disabled.active, 
.my-personal-button[disabled].active, 
fieldset[disabled] .my-personal-button.active { 
  background-color: blue; 
  border-color: transparent; 
} 
 
.my-personal-button .badge { 
  color: blue; 
  background-color: white; 
}

/* footer */

footer {
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 35px;
    padding-left: 10px;
    width: 100%;
    overflow:hidden;
}

/* user section */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.avatar {
  float: left;
  margin-right: 10px;
}

.avatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#signup-title {
  text-align: center;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}