<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="pull-left"><%= link_to "CrowdSource", root_path, id: "logo" %></li>
        <li><%= link_to "ABOUT", about_path, id: "navbar-about" %></li>
        <li><%= link_to "NEWS", "#", id: "navbar-news" %></li>
        <li><%= link_to "CONTACT", "#", id: "navbar-contact" %></li>
        <li class="social pull-right text-in-navbar"><a href="#" id="navbar-login"><span class="glyphicon glyphicon-log-in"></span> LOG IN</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>